@use '../utils' as u;

.circle {
    width: u.rem(96);
    height: u.rem(96);
    border-radius: 50%;

    @include u.breakpoint(large) { 
        width: u.rem(144);
        height: u.rem(144);
    }
}

.inside {
    display: block;
    background-color: hsl(0, 0%, 100%);
    border: u.rem(16) solid transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    transform: translateY(u.rem(-5));
}