@use '../utils' as u;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

image {
    display: block;
    width: 100%;
    height: auto;
}

body {
    height: max(u.rem(600), 100vh);
    font-family: u.$font;
    font-size: u.rem(16);
    background-image: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: u.rem(30) u.rem(30) u.rem(54);

    @include u.breakpoint(large) {
        height: max(u.rem(808), 100vh);
        padding-bottom: u.rem(90);
        padding: u.rem(40) u.rem(28) u.rem(130);
        justify-content: flex-start;
        gap: u.rem(180);
    }
}

button:hover, button:focus, svg:hover, svg:focus {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.2s;
    transition-timing-function: linear;
}