@use '../utils' as u;

h1 {
    font-size: u.rem(42);
}

h2 {
    font-size: u.rem(32);

    @include u.breakpoint(large) {
        font-size: u.rem(46);
    }
}

h3 {
    font-size: u.rem(8);

    @include u.breakpoint(large) {
       font-size: u.rem(20);
    }
}